In [20]:
import pandas as pd
import numpy as np

In [11]:
# importing data
all_words_df = pd.read_csv("/Users/iman/CPSC_Courses/CPSC393/CPSC393Final/Data/all_words.csv")
all_words_df.head()

      word   type
0    peeps  slang
1    compo  slang
2  hasbian  slang
3   mozzie  slang
4   soused  slang

In [12]:
slang_to_num = pd.read_csv("/Users/iman/CPSC_Courses/CPSC393/CPSC393Final/Data/all_words.csv")
slang_to_num.head()

      word   type
0    peeps  slang
1    compo  slang
2  hasbian  slang
3   mozzie  slang
4   soused  slang

In [13]:
slang_to_num.type[slang_to_num.type == 'slang'] = 1
slang_to_num.type[slang_to_num.type == 'nonslang'] = 2
slang_to_num.type[slang_to_num.type == 'both'] = 3
slang_to_num

        word type
0      peeps    1
1      compo    1
2    hasbian    1
3     mozzie    1
4     soused    1
..       ...  ...
248    sneak    3
249    ghost    3
250   hitter    3
251   smoked    3
252     down    3

[253 rows x 2 columns]

In [14]:
slang_to_num = slang_to_num.rename(columns = {'type':'type_num'})
slang_to_num

        word type_num
0      peeps        1
1      compo        1
2    hasbian        1
3     mozzie        1
4     soused        1
..       ...      ...
248    sneak        3
249    ghost        3
250   hitter        3
251   smoked        3
252     down        3

[253 rows x 2 columns]

In [15]:
words_slang_and_num_df = pd.merge(all_words_df, slang_to_num[['word', 'type_num']], on='word')
words_slang_and_num_df

        word   type type_num
0      peeps  slang        1
1      compo  slang        1
2    hasbian  slang        1
3     mozzie  slang        1
4     soused  slang        1
..       ...    ...      ...
248    sneak   both        3
249    ghost   both        3
250   hitter   both        3
251   smoked   both        3
252     down   both        3

[253 rows x 3 columns]

In [21]:
type_array = words_slang_and_num_df['type'].to_numpy()
df = pd.DataFrame({"col1": type_array})
print("The original data")
print(df)
print("*" * 30)
df_new = pd.get_dummies(df, columns=["col1"], prefix="Type_")
print("The transform data using get_dummies")
df_new

The original data
      col1
0    slang
1    slang
2    slang
3    slang
4    slang
..     ...
248   both
249   both
250   both
251   both
252   both

[253 rows x 1 columns]
******************************
The transform data using get_dummies

     Type__both  Type__nonslang  Type__slang
0             0               0            1
1             0               0            1
2             0               0            1
3             0               0            1
4             0               0            1
..          ...             ...          ...
248           1               0            0
249           1               0            0
250           1               0            0
251           1               0            0
252           1               0            0

[253 rows x 3 columns]

In [3]:
years_2010_to_2019_df = pd.read_csv("/Users/iman/CPSC_Courses/CPSC393/CPSC393Final/Data/2010_to_2019.csv")
years_2010_to_2019_df.head()

,release_date,track_name,artist_name,album_name,lyrics,track_popularity,artist_popularity
0,2010,Atmosphere - 2010 Remastered Version,Joy Division,Substance,it s early morning the sun comes out las...,51.0,66
1,2010,My Best Days Are Ahead Of Me,Danny Gokey,My Best Days,blowing out the candles on another birthday...,38.0,57
2,2010,El Amor Que Perdimos,Prince Royce,Number 1's,letra de el amor que perdimos anoche so...,54.0,82
3,2010,Carry on Wayward Son,Kansas,The Essential Kansas,carry on my wayward son there ll be peace...,65.0,68
4,2010,Aves de Agua,Aaron Cruz Trío,Eco,99,24.0,16

In [16]:
years_2010_to_2019_df.shape

(7293, 7)

In [4]:
# creating vocabulary from training data
years_2010_to_2019_df['lyrics'] = years_2010_to_2019_df['lyrics'].str.split()
vocabulary = []
for lyrics in years_2010_to_2019_df['lyrics']:
   for word in lyrics:
      vocabulary.append(word)
vocabulary = list(set(vocabulary)) # only count the number of unique words
print(len(vocabulary))

89520

In [5]:
# each word in each sms_message will be an x-value
word_counts_per_lyrics = {unique_word: [0] * len(years_2010_to_2019_df['lyrics']) for unique_word in vocabulary}

for index, lyrics in enumerate(years_2010_to_2019_df['lyrics']):
   for word in lyrics:
      word_counts_per_lyrics[word][index] += 0
word_counts = pd.DataFrame(word_counts_per_lyrics)
word_counts

,daffatan,ilbun,pasó,ריקוד,بحواريكي,cajole,gehuurd,boelen,avvisat,tummy,...,delay,headlong,pirraia,alejes,bayaan,edd,decks,faca,tottenham,teet
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7288,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7289,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7290,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7291,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7292,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
df_new = pd.concat([years_2010_to_2019_df, word_counts], axis=1) #combine data frames
df_new.head()

,release_date,track_name,artist_name,album_name,lyrics,track_popularity,artist_popularity,daffatan,ilbun,pasó,...,delay,headlong,pirraia,alejes,bayaan,edd,decks,faca,tottenham,teet
0,2010,Atmosphere - 2010 Remastered Version,Joy Division,Substance,"[it, s, early, morning, the, sun, comes, out, ...",51.0,66,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2010,My Best Days Are Ahead Of Me,Danny Gokey,My Best Days,"[blowing, out, the, candles, on, another, birt...",38.0,57,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2010,El Amor Que Perdimos,Prince Royce,Number 1's,"[letra, de, el, amor, que, perdimos, anoche, s...",54.0,82,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2010,Carry on Wayward Son,Kansas,The Essential Kansas,"[carry, on, my, wayward, son, there, ll, be, p...",65.0,68,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2010,Aves de Agua,Aaron Cruz Trío,Eco,[99],24.0,16,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
df_new.shape

(7293, 89527)